<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DbGobansDataContextConnectionString" connectionString="User Id=Epsi5;Password=ProjetJeuDeGo;Host=labo.nantes.epsi.fr;Database=goban;Persist Security Info=True" />
    </connectionStrings>
</configuration>