<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DbGobansDataContextConnectionString" connectionString="user id=Epsi5;password=ProjetJeuDeGo;host=labo.nantes.epsi.fr;database=goban;persist security info=True" providerName="Devart.Data.MySql" />
  </connectionStrings>
</configuration>